html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
p{margin:10px 0;}
br.clear{display:block;clear:both;width:1px;height:0.001%;font-size:0px;line-height:0px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0;}
p{line-height:1.3em;}
a{color:#E68E33;text-decoration:none;}
a:hover{text-decoration:underline;}
h1,h2,h3,h4,h5,h6{font-family:"museo-slab",Helvetica;}
h3{font-size:2.3em;text-transform:uppercase;font-weight:normal;color:#444;}
h3 strong{font-weight:bold;}
h3 a.action{font-size:.7em;text-transform:none;}
h4{font-size:1.1em;}
h4.part{background:url("/images/theme/v1/icons/ico_below.png") no-repeat scroll 0 29px transparent;color:#222222;font-weight:bold;height:16px;line-height:16px;margin-top:0;padding-left:20px;padding-top:30px;}
h3.hr{margin-bottom:20px;line-height:20px;background:url(/images/theme/v1/bg/hr.png) bottom left no-repeat;padding-bottom:10px;}
.close{cursor:pointer;}
.message{font-family:"Helvetica Neue", Helvetica, Arial;margin-bottom:20px;border:1px solid #d6d6d6;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background:#f3f3f3 url(/images/theme/v1/icons/ico_help.gif) 10px 10px no-repeat;padding:10px 30px;}
.message h5{margin-bottom:0px;font-size:14px;font-weight:normal;font-family:"Helvetica Neue", Helvetica, Arial;}
.message ul{margin-top:10px;}
.message li{padding:0px 1px;}
.message a{color:#333;}
.error-message{color:#e10015;border-left:2px solid #e10015;border-color:#e10015;background:#ffdfdc;}
.error-message a{color:#e10015;text-decoration:underline;}
.success-message{color:#2eaa0f;border:1px solid #2eaa0f;}
.caution-message{color:#eb891b;border:1px solid #eb891b;}
.message .req{color:#e10015;}
.feedback{clear:both;margin:40px 0 20px 0;padding:6px 5px;border:1px dotted #ddd;border-width:1px 0;}
.feedback em{padding:0 10px 0 60px;font-style:normal;}
.feedback a{color:orange !important;}
.feedbackForm form{margin:-20px 0px 40px;background:#fafafa;padding:10px 10px;display:block;}
.feedbackForm legend{color:#999;}
.feedbackForm textarea{border:1px solid #ddd;padding:6px;width:98%;margin:3px 0;height:35px;font-family:arial;font-size:12px;}
.bt{border:1px solid #000;height:38px;line-height:38px;padding:11px 20px 11px 25px;width:auto;text-transform:uppercase;background:#4a4a4a url(/images/theme/v1/bg/bt_str_black.png) center left repeat-x;color:#fff;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;text-shadow:0px 0px 2px #333333;font-size:14px;}
.bt:hover{text-decoration:none;cursor:pointer;-moz-box-shadow:0px 0px 5px #888;-webkit-box-shadow:0px 0px 5px #888;box-shadow:0px 0px 5px #888;}
.bt span{padding:15px 0;}
.bt.small{height:30px;line-height:26px;padding:3px 10px;font-size:11px;}
.bt.next, .bt.plus{padding-left:10px;}
.bt.orange{background:#ffd070 url(/images/theme/v1/bg/bt_str_orange.png) center left repeat-x;border-color:#c48a29;}
.bt.plus span{background:transparent url(/images/theme/v1/bg/bt_bg_plus_black.png) center left no-repeat;padding-left:35px;}
.bt.green{background:#a2dc20 url(/images/theme/v1/bg/bt_str_green2.png) center left repeat-x;border-color:#3b5b0f;}
.bt.orange.plus span{background:transparent url(/images/theme/v1/bg/bt_bg_plus_orange.png) center left no-repeat;padding-left:35px;}
.bt.green.plus span{background:transparent url(/images/theme/v1/bg/bt_bg_plus_green2.png) center left no-repeat;padding-left:35px;}
.bt.next span{background:transparent url(/images/theme/v1/bg/bt_bg_next_black.png) center left no-repeat;padding-left:35px;}
.bt.orange span{background:transparent url(/images/theme/v1/bg/bt_bg_next_orange.png) center left no-repeat;padding-left:35px;}
.bt.green span{background:transparent url(/images/theme/v1/bg/bt_bg_next_green2.png) center left no-repeat;padding-left:35px;}
input.invisible{height:0;width:0;background:none;overflow:hidden;border:none;color:transparent;text-indent:-1000px;}
.tooltip-status{background:transparent url(/images/theme/v1/bg/tooltip_status_bottom.png) -79px bottom no-repeat;color:#eee;padding:4px 8px 11px;font-size:11px;display:none;z-index:100;text-align:center;min-width:30px;}
.tooltip{display:none;}
.tooltip{display:none;font-size:11px;color:#fff;padding-bottom:7px;background:transparent url(/images/theme/v1/bg/tooltip_bottom.png) 6px bottom no-repeat;z-index:100;}
.tooltip blockquote{width:260px;height:76px;padding:6px;background:#000;-moz-box-shadow:0px 0px 5px #333;-webkit-box-shadow:0px 0px 5px #333;box-shadow:0px 0px 5px #333;-moz-border-radius:5px;-webkit-border-radius:5px;line-height:15px;}
.tooltip IMG{float:left;}
.tooltip em{font-style:normal;}
.tooltip span{display:block;float:left;width:180px;padding-left:8px;}
.modal{background-color:#fff;display:none;width:350px;padding:15px;text-align:left;border:2px solid #333;-moz-border-radius:3px;-webkit-border-radius:3px;-moz-box-shadow:0 0 10px #222;-webkit-box-shadow:0 0 10px #222;}
.modal h2{margin:0px;padding:10px 0 10px 0px;border-bottom:1px solid #333;font-size:20px;color:#000;}
.ui-icon{background-repeat:no-repeat;display:block;overflow:hidden;text-indent:-99999px;background-image:url(/images/theme/v1//icons/icons_black.png);height:16px;width:16px;float:left;}
table .ui-icon{margin:-3px 1px -3px 0;}
.ui-icon-carat-1-n{background-position:0 0;}
.ui-icon-carat-1-ne{background-position:-16px 0;}
.ui-icon-carat-1-e{background-position:-32px 0;}
.ui-icon-carat-1-se{background-position:-48px 0;}
.ui-icon-carat-1-s{background-position:-64px 0;}
.ui-icon-carat-1-sw{background-position:-80px 0;}
.ui-icon-carat-1-w{background-position:-96px 0;}
.ui-icon-carat-1-nw{background-position:-112px 0;}
.ui-icon-carat-2-n-s{background-position:-128px 0;}
.ui-icon-carat-2-e-w{background-position:-144px 0;}
.ui-icon-triangle-1-n{background-position:0 -16px;}
.ui-icon-triangle-1-ne{background-position:-16px -16px;}
.ui-icon-triangle-1-e{background-position:-32px -16px;}
.ui-icon-triangle-1-se{background-position:-48px -16px;}
.ui-icon-triangle-1-s{background-position:-64px -16px;}
.ui-icon-triangle-1-sw{background-position:-80px -16px;}
.ui-icon-triangle-1-w{background-position:-96px -16px;}
.ui-icon-triangle-1-nw{background-position:-112px -16px;}
.ui-icon-triangle-2-n-s{background-position:-128px -16px;}
.ui-icon-triangle-2-e-w{background-position:-144px -16px;}
.ui-icon-arrow-1-n{background-position:0 -32px;}
.ui-icon-arrow-1-ne{background-position:-16px -32px;}
.ui-icon-arrow-1-e{background-position:-32px -32px;}
.ui-icon-arrow-1-se{background-position:-48px -32px;}
.ui-icon-arrow-1-s{background-position:-64px -32px;}
.ui-icon-arrow-1-sw{background-position:-80px -32px;}
.ui-icon-arrow-1-w{background-position:-96px -32px;}
.ui-icon-arrow-1-nw{background-position:-112px -32px;}
.ui-icon-arrow-2-n-s{background-position:-128px -32px;}
.ui-icon-arrow-2-ne-sw{background-position:-144px -32px;}
.ui-icon-arrow-2-e-w{background-position:-160px -32px;}
.ui-icon-arrow-2-se-nw{background-position:-176px -32px;}
.ui-icon-arrowstop-1-n{background-position:-192px -32px;}
.ui-icon-arrowstop-1-e{background-position:-208px -32px;}
.ui-icon-arrowstop-1-s{background-position:-224px -32px;}
.ui-icon-arrowstop-1-w{background-position:-240px -32px;}
.ui-icon-arrowthick-1-n{background-position:0 -48px;}
.ui-icon-arrowthick-1-ne{background-position:-16px -48px;}
.ui-icon-arrowthick-1-e{background-position:-32px -48px;}
.ui-icon-arrowthick-1-se{background-position:-48px -48px;}
.ui-icon-arrowthick-1-s{background-position:-64px -48px;}
.ui-icon-arrowthick-1-sw{background-position:-80px -48px;}
.ui-icon-arrowthick-1-w{background-position:-96px -48px;}
.ui-icon-arrowthick-1-nw{background-position:-112px -48px;}
.ui-icon-arrowthick-2-n-s{background-position:-128px -48px;}
.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px;}
.ui-icon-arrowthick-2-e-w{background-position:-160px -48px;}
.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px;}
.ui-icon-arrowthickstop-1-n{background-position:-192px -48px;}
.ui-icon-arrowthickstop-1-e{background-position:-208px -48px;}
.ui-icon-arrowthickstop-1-s{background-position:-224px -48px;}
.ui-icon-arrowthickstop-1-w{background-position:-240px -48px;}
.ui-icon-arrowreturnthick-1-w{background-position:0 -64px;}
.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px;}
.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px;}
.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px;}
.ui-icon-arrowreturn-1-w{background-position:-64px -64px;}
.ui-icon-arrowreturn-1-n{background-position:-80px -64px;}
.ui-icon-arrowreturn-1-e{background-position:-96px -64px;}
.ui-icon-arrowreturn-1-s{background-position:-112px -64px;}
.ui-icon-arrowrefresh-1-w{background-position:-128px -64px;}
.ui-icon-arrowrefresh-1-n{background-position:-144px -64px;}
.ui-icon-arrowrefresh-1-e{background-position:-160px -64px;}
.ui-icon-arrowrefresh-1-s{background-position:-176px -64px;}
.ui-icon-arrow-4{background-position:0 -80px;}
.ui-icon-arrow-4-diag{background-position:-16px -80px;}
.ui-icon-extlink{background-position:-32px -80px;}
.ui-icon-newwin{background-position:-48px -80px;}
.ui-icon-refresh{background-position:-64px -80px;}
.ui-icon-shuffle{background-position:-80px -80px;}
.ui-icon-transfer-e-w{background-position:-96px -80px;}
.ui-icon-transferthick-e-w{background-position:-112px -80px;}
.ui-icon-folder-collapsed{background-position:0 -96px;}
.ui-icon-folder-open{background-position:-16px -96px;}
.ui-icon-document{background-position:-32px -96px;}
.ui-icon-document-b{background-position:-48px -96px;}
.ui-icon-note{background-position:-64px -96px;}
.ui-icon-mail-closed{background-position:-80px -96px;}
.ui-icon-mail-open{background-position:-96px -96px;}
.ui-icon-suitcase{background-position:-112px -96px;}
.ui-icon-comment{background-position:-128px -96px;}
.ui-icon-person{background-position:-144px -96px;}
.ui-icon-print{background-position:-160px -96px;}
.ui-icon-trash{background-position:-176px -96px;}
.ui-icon-locked{background-position:-192px -96px;}
.ui-icon-unlocked{background-position:-208px -96px;}
.ui-icon-bookmark{background-position:-224px -96px;}
.ui-icon-tag{background-position:-240px -96px;}
.ui-icon-home{background-position:0 -112px;}
.ui-icon-flag{background-position:-16px -112px;}
.ui-icon-calendar{background-position:-32px -112px;}
.ui-icon-cart{background-position:-48px -112px;}
.ui-icon-pencil{background-position:-64px -112px;}
.ui-icon-clock{background-position:-80px -112px;}
.ui-icon-disk{background-position:-96px -112px;}
.ui-icon-calculator{background-position:-112px -112px;}
.ui-icon-zoomin{background-position:-128px -112px;}
.ui-icon-zoomout{background-position:-144px -112px;}
.ui-icon-search{background-position:-160px -112px;}
.ui-icon-wrench{background-position:-176px -112px;}
.ui-icon-gear{background-position:-192px -112px;}
.ui-icon-heart{background-position:-208px -112px;}
.ui-icon-star{background-position:-224px -112px;}
.ui-icon-link{background-position:-240px -112px;}
.ui-icon-cancel{background-position:0 -128px;}
.ui-icon-plus{background-position:-16px -128px;}
.ui-icon-plusthick{background-position:-32px -128px;}
.ui-icon-minus{background-position:-48px -128px;}
.ui-icon-minusthick{background-position:-64px -128px;}
.ui-icon-close{background-position:-80px -128px;}
.ui-icon-closethick{background-position:-96px -128px;}
.ui-icon-key{background-position:-112px -128px;}
.ui-icon-lightbulb{background-position:-128px -128px;}
.ui-icon-scissors{background-position:-144px -128px;}
.ui-icon-clipboard{background-position:-160px -128px;}
.ui-icon-copy{background-position:-176px -128px;}
.ui-icon-contact{background-position:-192px -128px;}
.ui-icon-image{background-position:-208px -128px;}
.ui-icon-video{background-position:-224px -128px;}
.ui-icon-script{background-position:-240px -128px;}
.ui-icon-alert{background-position:0 -144px;}
.ui-icon-info{background-position:-16px -144px;}
.ui-icon-notice{background-position:-32px -144px;}
.ui-icon-help{background-position:-48px -144px;}
.ui-icon-check{background-position:-64px -144px;}
.ui-icon-bullet{background-position:-80px -144px;}
.ui-icon-radio-off{background-position:-96px -144px;}
.ui-icon-radio-on{background-position:-112px -144px;}
.ui-icon-pin-w{background-position:-128px -144px;}
.ui-icon-pin-s{background-position:-144px -144px;}
.ui-icon-play{background-position:0 -160px;}
.ui-icon-pause{background-position:-16px -160px;}
.ui-icon-seek-next{background-position:-32px -160px;}
.ui-icon-seek-prev{background-position:-48px -160px;}
.ui-icon-seek-end{background-position:-64px -160px;}
.ui-icon-seek-first{background-position:-80px -160px;}
.ui-icon-stop{background-position:-96px -160px;}
.ui-icon-eject{background-position:-112px -160px;}
.ui-icon-volume-off{background-position:-128px -160px;}
.ui-icon-volume-on{background-position:-144px -160px;}
.ui-icon-power{background-position:0 -176px;}
.ui-icon-signal-diag{background-position:-16px -176px;}
.ui-icon-signal{background-position:-32px -176px;}
.ui-icon-battery-0{background-position:-48px -176px;}
.ui-icon-battery-1{background-position:-64px -176px;}
.ui-icon-battery-2{background-position:-80px -176px;}
.ui-icon-battery-3{background-position:-96px -176px;}
.ui-icon-circle-plus{background-position:0 -192px;}
.ui-icon-circle-minus{background-position:-16px -192px;}
.ui-icon-circle-close{background-position:-32px -192px;}
.ui-icon-circle-triangle-e{background-position:-48px -192px;}
.ui-icon-circle-triangle-s{background-position:-64px -192px;}
.ui-icon-circle-triangle-w{background-position:-80px -192px;}
.ui-icon-circle-triangle-n{background-position:-96px -192px;}
.ui-icon-circle-arrow-e{background-position:-112px -192px;}
.ui-icon-circle-arrow-s{background-position:-128px -192px;}
.ui-icon-circle-arrow-w{background-position:-144px -192px;}
.ui-icon-circle-arrow-n{background-position:-160px -192px;}
.ui-icon-circle-zoomin{background-position:-176px -192px;}
.ui-icon-circle-zoomout{background-position:-192px -192px;}
.ui-icon-circle-check{background-position:-208px -192px;}
.ui-icon-circlesmall-plus{background-position:0 -208px;}
.ui-icon-circlesmall-minus{background-position:-16px -208px;}
.ui-icon-circlesmall-close{background-position:-32px -208px;}
.ui-icon-squaresmall-plus{background-position:-48px -208px;}
.ui-icon-squaresmall-minus{background-position:-64px -208px;}
.ui-icon-squaresmall-close{background-position:-80px -208px;}
.ui-icon-grip-dotted-vertical{background-position:0 -224px;}
.ui-icon-grip-dotted-horizontal{background-position:-16px -224px;}
.ui-icon-grip-solid-vertical{background-position:-32px -224px;}
.ui-icon-grip-solid-horizontal{background-position:-48px -224px;}
.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px;}
.ui-icon-grip-diagonal-se{background-position:-80px -224px;}
.ui-corner-tl{-moz-border-radius-topleft:4px;}
.ui-corner-tr{-moz-border-radius-topright:4px;}
.ui-corner-bl{-moz-border-radius-bottomleft:4px;}
.ui-corner-br{-moz-border-radius-bottomright:4px;}
.ui-corner-top{-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;}
.ui-corner-bottom{-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:4px;}
.ui-corner-right{-moz-border-radius-bottomright:4px;-moz-border-radius-topright:4px;}
.ui-corner-left{-moz-border-radius-bottomleft:4px;-moz-border-radius-topleft:4px;}
.ui-corner-all{-moz-border-radius:4px 4px 4px 4px;}
.info-box{margin-bottom:15px;border:1px solid #e6e6e6;border-radius:3px;background:#fefefe url(/images/theme/v1/icons/ico_help.gif) 18px 13px no-repeat;padding:4px 20px;}
.info-box .title{font-size:14px;padding-left:20px;line-height:15px;}
.info-box .title strong{font-weight:400;color:#444;}
.info-box .content{font-size:11px;}
span.status{cursor:help;}
.selectbox{float:left;margin-right:4px;overflow:hidden;position:relative;}
.selectbox option{padding:0 0px;}
.selectbox .text{font-size:12px;color:#414141;text-shadow:0 1px 2px #fff;margin:0;height:27px;overflow:hidden;background:transparent url(/images/theme/v1/bg/bg_select.png?v=0.1) no-repeat right -27px;padding-right:24px;}
.selectbox-disabled .text{background-position:right -81px;}
.selectbox .text span{display:block;margin:0;height:27px;line-height:27px;vertical-align:middle;padding:0 0 0 10px;background:transparent url(/images/theme/v1/bg/bg_select.png?v=0.1) no-repeat left top;text-align:left;overflow:hidden;}
.selectbox-disabled .text span{background-position:left -54px;}
.agreen,#nomail-edito a,#conso .resume li strong a{color:#84B909;text-decoration:underline;}
div.tabbedArea{margin-bottom:50px;margin-top:0;}
div.tabHeading{border:1px solid #efefef;background:#fff;border-radius:4px;box-shadow:0px 1px 4px #e3e3e3;padding:10px;}
div.tabContainer{padding:0 0 10px;position:relative;z-index:0;overflow:auto;}
div.tabContent{overflow:hidden;display:none;}
ul.tabs li{float:left;}
ul.tabs li a{padding:10px 20px 10px 20px;font-size:14px;color:#737981;text-decoration:none;display:block;cursor:pointer;}
ul.tabs li a:hover{color:#444;}
ul.tabs li.active{background-color:#f2f2f2;border-right:none;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
ul.tabs li.active a{color:#000;background:transparent url(/images/theme/v1/bg/bg_tabs_heading_active.png?v=0.1) bottom center no-repeat;}
ul.check-list li{padding:0 0 0 20px;line-height:20px;background:transparent url(/images/theme/v1/bg/bg_wizard_steps.png) 2px 5px no-repeat;}
ul.check-list li.inactive{background-position:2px -84px;}
.middle{height:10000px;border-left:1px solid red;width:1px;position:absolute;left:50%;z-index:200;}
html,body{}
:focus{outline:none;}
body{font-family:"Helvetica Neue", Helvetica, Arial;font-size:13px;background:#eee url(/images/theme/v1/bg/bg_body.jpg) 0 0 repeat;color:#6d7980;font-weight:300;line-height:19px;}
#wrapper{position:relative;padding-top:79px;}
#wrapper.sub{padding-top:113px;}
.main{min-height:300px;position:relative;z-index:1;}
.col980{width:980px;margin:0 auto;position:relative;}
.col700{width:700px;float:left;margin-right:10px;}
.col320{width:320px;float:left;margin-right:10px;}
.col230{width:230px;float:left;margin-right:20px;}
.left {float:left;}
.right {float:right;}
.rating{display:block;width:75px;height:14px;background:url(/images/theme/v1/bg/bg_stars.png) center left no-repeat;}
.r4star{background-position:-15px 0;}
.r3star{background-position:-30px 0;}
.r2star{background-position:-45px 0;}
.r1star{background-position:-60px 0;}
.r0star{background-position:-75px 0;}
#top-wrapper{background:#fdfdfd url(/images/theme/v1/bg/bg_top.png) bottom left repeat-x;position:absolute;top:0;height:32px;width:100%;overflow:visible;z-index:1000;}
#header-wrapper{background:#fdfdfd url(/images/theme/v1/bg/bg_header.png) top left repeat-x;position:absolute;top:0;height:79px;width:100%;overflow:visible;z-index:2;}
#header .logo{position:relative;padding:11px 20px 0px 0;margin:0 0 0 -20px;width:150px;}
#header .logo IMG{height:58px;}
#header .logo span{color:#cdcdcd;left:78px;position:absolute;bottom:1px;font-size:10px;word-spacing:9px;font-style:italic;}
#header .logo a:hover{text-decoration:none;color:#222;}
#header .logo a:hover span{color:#bebebe;}
.sub #header-wrapper{top:34px;}
#menu{margin:12px 0 0 10px;width:520px;position:relative;z-index:12000;}
#menu li{height:60px;line-height:60px;float:left;position:relative;overflow:visible;cursor:pointer;}
#menu a{color:#aeaeae;text-transform:uppercase;font-size:12px;height:60px;display:block;line-height:60px;padding:0 12px;font-weight:bold;text-shadow:1px 1px 1px #fff;position:relative;}
#menu li li,#menu li li a{height:auto;line-height:30px;}
#menu ul ul{top:43px;z-index:40;position:absolute;border-radius:2px;overflow:hidden;background:url(/images/theme/v1/bg/bg_submenu.png) -2px 0 no-repeat;padding-top:13px;width:157px;display:none;}
#menu ul ul li{line-height:24px;float:left;color:#666;text-transform:none;float:none;display:block;background:#e0e0e0;border-top:1px solid #d7d7d7;}
#menu ul ul li a{color:#999;line-height:24px;text-shadow:none;font-size:12px;text-transform:none;font-weight:normal;display:block;}
#menu ul li:hover ul{display:block;}
#menu ul li:hover a{color:#000;}
#menu ul li:hover li a{color:#999;}
#menu ul li:hover li a:hover{background:#eaeaea;color:#444;}
#menu ul ul li:last-child{padding-bottom:3px;}
#menu ul ul li:first-child{border:none;}
#menu .sub{background:url(/images/theme/v1/bg/bg_menu_sub.png) center right no-repeat;padding-right:17px;z-index:12000;position:relative;}
#home .home a, #features .features a, #pricing .pricing a, #testimonials li.testimonials a, #support .support a,#dashboard .dashboard a,#account .account a,#contacts .contacts a,#report .report a,#campaigns .campaigns a,#stats .stats a,#static .static a{color:#000;}
#menu a:hover{color:#000;text-decoration:none;}
.activation-pending{background:#de2615;padding:4px 10px;color:#fff;position:absolute;top:10px;left:40%;-moz-border-radius:3px;-border-radius:3px;-webkit-border-radius:3px;}
.activation-pending a{color:#fff;text-decoration:underline;}
hr{display:block;clear:both;width:100%;height:1px;font-size:0px;line-height:0px;background:url(/images/theme/v1/bg/hr.png) 0 0 no-repeat;border:none;}
.hide{visibility:hidden;}
.hidden{display:none;}
.title{font-size:28px;font-weight:600;font-family:"museo-slab",helvetica,arial;}
.sub-title{color:#999994;font-size:18px;margin:0 0 20px 0;text-shadow:0px 2px 3px rgba(0,0,0,.6);}
.part-title{font-size:27px;font-weight:100;color:#000;font-family:"museo-slab",helvetica,arial;text-align:center;line-height:30px;}
.part-title span{color:#E68E33;font-weight:400;}
.part-sub-title{font-size:13px;text-align:center;margin:1px 0 7px;}
.separator{padding-bottom:21px;background:url(/images/theme/v1/bg/bg_main_title.png) center bottom no-repeat;}
.under{padding-bottom:21px;background:url(/images/theme/v1/bg/bg_hr.png) center bottom no-repeat;}
.head{border-top:1px solid #fff;background:url(/images/theme/v1/bg/bg_head.gif) bottom left repeat;color:#fff;text-align:left;box-shadow:0 0 100px #bebebe;}
.head .heading{padding:30px 100px 30px 100px;background:url(/images/theme/v1/bg/bg_head_halo.jpg) bottom left no-repeat;position:relative;width:980px;margin:0 auto;text-align:center;}
.head .heading:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.heading .title{font-size:27px;font-weight:100;color:#fff;font-family:"museo-slab",helvetica,arial;}
.heading .title span{color:#EAA81E;font-weight:bold;}
.heading p{font-size:14px;line-height:20px;color:#cecece;margin-bottom:0px;}
.head .with-cta h1{float:left;width:600px;}
.head .with-cta p{float:left;width:600px;}
.head .heading p.head-cta{float:right;padding:10px 0 0;margin-left:20px;width:auto;}
.head .heading .head-cta a{white-space:nowrap;}
.head .heading .head-cta a.cta{width:inherit;}
.head .heading .head-cta a.cta strong{font-size:18px;font-family:"museo-slab",helvetica,arial;}
.heading .steps{text-align:center;padding:14px 0 0;}
.heading .steps li{display:inline;margin:0 14px;}
.heading .steps li a{color:#fff;}
.heading .steps .active a{color:#faa728;}
div.hr, div.hr100{background:url(/images/theme/v1/bg/bg_hr.png) center center no-repeat;height:1px;margin:66px 0;}
div.hr100{background-repeat:repeat-x;}
.center{text-align:center;}
.main-center{text-align:center;font-size:35px;}
.top40{margin-top:-31px;}
#register{margin-top:26px;font-size:12px;float:right;width:230px;border-top:1px solid #eeeeee;padding-top:8px;margin-top:19px;}
div#register{position:relative;z-index:12000}
#register a{color:#666;text-decoration:none;text-transform:uppercase;font-size:10px;font-weight:400;}
#register a.signup{color:#E68E33;border-left:1px solid #e3e3e3;padding-left:7px;margin-left:7px;font-weight:500;}
#register a:hover{text-decoration:none;}
#register.logged{padding-bottom:10px;text-align:right;border:none;margin-top:11px;width:280px;}
#register.logged span{font-size:11px;font-weight:bold;border-top:none;margin-top:4px;padding-top:4px;}
#register.logged a{text-transform:none;font-size:11px;color:#999;font-weight:bold;}
#register.logged span a{color:#6D7980;}
#register.logged strong a{color:#E68E33;margin-right:4px;font-weight:600;}
#register.logged br{line-height:17px;}
#register.logged #quota{margin:-6px 0 0 10px;padding:0;width:10px;height:49px;float:right;background:transparent url(/images/theme/v1/bg/bg_quota.png) 0 0 no-repeat;}
#register.logged #quota span{display:block;padding:0;width:10px;background:transparent url(/images/theme/v1/bg/bg_quota_bar.png) bottom left no-repeat;}
#register.logged #quota.medium span{background-position:-10px bottom;}
#register.logged #quota.low span{background-position:-20px bottom;}
#top{padding:6px 0 2px 0;text-align:right;}
#top #account-switch-trigger{display:inline;position:relative;z-index:12000;font-size:11px;}
#top #account-switch-trigger a{color:#6D7980;}
#top #account-switch-trigger .trigger{font-weight:bold;padding-right:11px;background:transparent url(/images/theme/v1/bg/bg_account_switch.png) right 6px no-repeat;}
#top #account-switch-trigger .trigger span{padding-left:18px;background:transparent url(/images/theme/v1/bg/bg_key.png) left 1px no-repeat;}
#top #account-switch{top:22px;z-index:12000;position:absolute;border-radius:2px;overflow:hidden;text-align:left;background:url(/images/theme/v1/bg/bg_submenu_large.png) -2px 0 no-repeat;padding-top:13px;width:257px;}
#top #account-switch .keys{padding-bottom:0px;border-bottom:1px solid #ccc;}
#top #account-switch .last .keys{padding-bottom:0;}
#top #account-switch li{line-height:24px;float:left;color:#666;text-transform:none;float:none;display:block;background:#e0e0e0;border-bottom:1px solid #e3e3e3;}
#top #account-switch li li a{border-left:4px solid #ccc;overflow:auto;background:#f3f3f3;font-size:11px;color:#999;line-height:20px;}
#top #account-switch li.account{padding:0;border:none;}
#top #account-switch li a{padding:0 12px;color:#999;line-height:28px;text-shadow:none;font-size:12px;text-transform:none;font-weight:normal;display:block;}
#top #account-switch li a.name{padding-top:2px;font-weight:bold;border-bottom:1px solid #d7d7d7;background:transparent url(/images/theme/v1/icons/ico_plus_expand.png) 240px center no-repeat;}
#top #account-switch li a.expand{background-image:url(/images/theme/v1/icons/ico_minus_expand.png);}
#top #account-switch li li a{padding:7px 12px;line-height:14px;}
#top #account-switch li li a span{display:block;margin:0;padding:0;font-weight:normal;font-size:9px;line-height:12px;}
#top #account-switch li:hover ul{display:block;}
#top #account-switch li:hover a{color:#777;text-decoration:none;}
#top #account-switch li:hover li a{color:#777;}
#top .link{font-size:11px;color:#6D7980;margin-left:10px;}
#top #account-switch .link{margin:0;}
#top #account-switch li li.current a,#top #account-switch li:hover li a:hover{background:#fff;color:#E68E33;text-decoration:none;border-left-color:#E68E33;}
#top #account-switch li:last-child li:last-child{border:none;}
#top #account-switch-filter{padding:3px 0 7px 8px;background:#E1E1E1;border-bottom:1px solid #d7d7d7;}
#top #account-switch-filter input{width:224px;padding:7px 7px 6px;background:none;background-color:#fff;border:1px solid #cfcfcf;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow:inset 0 2px 3px #E9E9E9;color:#6D7980;}
#register .rate_limit{position:absolute;bottom:8px;right:-5px;z-index:12001;}
#register .head_tooltip{width:200px;display:none;font-size:11px;color:#fff;padding-top:7px;background:transparent url(/images/theme/v1/bg/tooltip_top.png) 6px top no-repeat;z-index:100;}
#register .head_tooltip p{background:none repeat scroll 0 0 #000000;border-radius:4px 4px 4px 4px;box-shadow:0 0 8px #666666;color:#CCCCCC;margin:0 -4px 0 0;padding:10px;text-align:left;}
.head .cta{box-shadow:0 2px 2px #222;line-height:17px;}
.head .cta:hover{box-shadow:0 0 1px #000;}
.cta-list{text-align:center;}
.cta-list li{display:inline-block;margin:0 10px;}
.cta{background:#f4a531 url(/images/theme/v1/bg/bg_bt_orange.jpg) top left repeat;text-align:center;color:#fff;overflow:auto;margin:0 auto;display:block;width:270px;border-radius:4px;border:1px solid #bc7618;}
.cta span{display:block;padding:15px 20px;}
.cta strong{font-size:23px;text-shadow:0px 1px 1px rgba(0,0,0,.4);font-weight:600;font-family:"museo-slab",helvetica,arial;color:#fff;}
.cta b{font-size:14px;text-shadow:0px 1px 1px rgba(0,0,0,.4);font-weight:600;font-family:"museo-slab",helvetica,arial;color:#fff;}
.cta em{font-style:normal;font-size:12px;color:#7b5019;text-shadow:0px 1px 2px rgba(255,255,255,.3);}
.cta:hover{text-decoration:none;background:#E68E33;box-shadow:0 0 3px #fff;}
.next span{background:url(/images/theme/v1/bg/bg_bt_next.png) 14px center no-repeat;text-align:left;padding:12px 10px 10px 58px;}
.cta-large{background:url(/images/theme/v1/bg/bg_hr.png) center center no-repeat;text-align:c margin-bottom:20px;}
.top{padding:34px 0 115px 0;background:#fefefe url(/images/theme/v1/bg/bg_top.jpg) center bottom repeat-x;}
.top .title{font-size:23px;font-weight:100;color:#000;font-family:"Museo-slab";}
.top .title span{color:#E68E33;font-weight:400;}
.top p{font-size:14px;line-height:20px;margin:9px 0 0 0;}
.top .col980{padding:20px 0 0px 0;background:url(/images/theme/v1/bg/bg_top_cloud.png) bottom right no-repeat;}
.bc{padding:10px 0 80px 0;margin-bottom:-80px !important;}
.bc .col980{background:none;padding:0;}
.bc p{font-size:11px;margin:0;color:#aeaeae;}
.bc p a{color:#bebebe;font-weight:400;}
a.es_ES{background:url(/images/theme/v1/bg/mj_sprite.png) 0 -728px no-repeat;}
a.en_US{background:url(/images/theme/v1/bg/mj_sprite.png) 0 -658px no-repeat;}
a.en_GB{background:url(/images/theme/v1/bg/mj_sprite.png) 0 -174px no-repeat;}
a.fr_FR{background:url(/images/theme/v1/bg/mj_sprite.png) 0 -114px no-repeat;}
a.en_EU{background:url(/images/theme/v1/bg/mj_sprite.png) 0 -53px no-repeat;}
a.de_DE{background:url(/images/theme/v1/bg/mj_sprite.png) 0 8px no-repeat;}
.headlink li a.es_ES{background-position:0 -732px;}
.headlink li a.en_US{background-position:0 -662px;}
.headlink li a.en_GB{background-position:0 -179px;}
.headlink li a.fr_FR{background-position:0 -118px;}
.headlink li a.en_EU{background-position:0 -57px;}
.headlink li a.de_DE{background-position:0 4px;}
#languagedrop{float:right;margin:10px 0;width:240px;z-index:200;position:relative;}
#languagedrop a{text-decoration:none;color:#999994;margin:0 2px;font-size:11px;}
#languagedrop li.headlink{position:absolute;width:225px;margin-left:10px;float:left;}
#languagedrop li.headlink a{display:block;padding:0 10px 0 25px;height:28px;line-height:28px;font-weight:bold;}
#languagedrop li.headlink ul{display:none;padding:5px 2px;background:#fff;border-radius:4px;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-moz-border-radius:4px;-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-webkit-border-radius:4px;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);padding:5px;}
#languagedrop li.headlink:hover ul{display:block;}
#languagedrop li.headlink ul li a{padding:0 10px 0 25px;height:18px;line-height:19px;font-weight:normal;}
#languagedrop li.headlink ul li a:hover{background-color:#eee;color:#111;}
#languagedrop li#currency-selector{margin-top:4px;padding:4px 0 0 0;border-top:1px solid #eee;}
#languagedrop li#currency-selector input{margin:0 6px 0 3px;}
#languagedrop li#currency-selector a{display:inline;padding:0;}
#languagedrop li#currency-selector a:hover{background:none;}
.breadcrumb{padding:6px 2px;color:#aeaeae;border-bottom:1px solid #eee;margin:0;}
.breadcrumb a{color:#bbb;}
.breadcrumb span{color:#aaa;}
#sub-menu{position:relative;padding:6px 2px;font-size:13px;background:#fafafa;border-bottom:1px solid #eee;margin:0 0 20px;}
#sub-menu a{color:#666;padding:0 6px;}
#sub-menu span{color:#222;font-weight:bold;}
#ajax-search{position:absolute;z-index:10100;padding:0;top:7px;right:6px;}
#ajax-search .isearch-ctnr input{width:126px;height:22px;padding:4px 4px 4px 30px;background:url(/images/theme/v1/bg/bg_input_kws.png) 0 0 no-repeat;border:none;}
#isearch-results{position:absolute;z-index:10100;top:32px;right:0;background:#fff;border:1px solid #AFAFAF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:0 0 5px #888888;width:200px;overflow:hidden;}
#isearch-results h4,#isearch-results a.other{font-family:Helvetica;font-size:1.1em;color:#444;margin:0;padding:10px 10px 5px;}
#isearch-results ul{margin:0 0 3px;}
#isearch-results li{float:none;line-height:16px;}
#isearch-results li a{display:block;background:none;border:none;padding:3px 10px;text-transform:lowercase;font-size:12px;}
#isearch-results li a.other{text-transform:inherit;}
#isearch-results li a span{font-size:10px;font-style:italic;color:gray;}
#isearch-results li#hover a,#isearch-results li a:hover{background:#dfdfdf;color:#222;}
#isearch-results .noresult{display:block;padding:5px 10px 10px;}
#ajax-search #isearch{color:#848484;}
#ajax-search #isearch:focus{color:#444;}
#footer-wrapper{position:relative;background:#171616 url(/images/theme/v1/bg/bg_footer_wrap.png) bottom left repeat-x;text-align:center;overflow:auto;width:100%;color:#999;margin-top:30px;z-index:0;}
.min #footer-wrapper{position:fixed;bottom:0;}
#footer{background:url(/images/theme/v1/bg/bg_footer_cloud.png) 0 45px no-repeat;padding:30px 0 0 0px;text-align:left;line-height:20px;}
#footer h6{color:#eee;font-weight:400;font-size:16px;margin-bottom:7px;font-family:"museo-slab";}
#footer h6 strong{font-weight:bold;color:#E68E33;}
#footer li{line-height:17px;font-size:11px;}
#footer li a{text-decoration:none;color:#aaa;}
#footer li a:hover{color:#fff;}
#footer .col230{margin-bottom:36px;width:auto;margin-right:80px;}
#footer .cloud{width:200px;}
#footer .social{padding-top:24px;line-height:25px;overflow:auto;}
#footer .social a{float:right;margin-left:6px;text-indent:10000px;overflow:hidden;background:url(/images/theme/v1/bg/bg_social.png) top left no-repeat;width:34px;height:34px;text-decoration:none;display:block;line-height:34px;}
#footer a.lk{background-position:-84px 0;}
#footer a.tw{background-position:-42px 0;}
#footer .social a:hover{background-position-y:-34px;}
#footer .legals{color:#666;margin:0;line-height:46px;font-size:11px;font-family:Arial;}
#footer .legals strong{color:#777;}
#footer .tos{float:right;margin-right:-2px;}
#footer .tos a{color:#777;font-weight:600;padding:0 2px;}
.pad20{padding:30px 20px;}
.center{text-align:center;}
.columns{float:left;position:relative;}
.left-column, .right-column{width:246px;}
.midd-column{float:right;width:720px;}
#iadvize-tab, #iadvize-tab:link{background-position:5px center !important;background-repeat:no-repeat !important;background-color:#E5912E;background-image:url(/images/theme/v1/bg/tab_support.png);background-repeat:no-repeat;border:#666 solid 1px;border-width:0 1px 1px 0;left:0;display:block !important;height:104px !important;margin:60px 0 0 0 !important;padding:0 !important;position:fixed !important;text-indent:-9000px;top:45% !important;width:25px !important;z-index:100001 !important;}
#iadvize{background:#eee;padding:20px;margin:10px 0;display:none;}
#button_online{position:absolute;width:1px;height:1px;bottom:0;}
#iadvize-tab:hover{background-color:#373737;border-color:#000;}
.mj_iadvize{display:none;}
.box{border:1px solid #efefef;background:#fff;border-radius:4px;box-shadow:0px 1px 4px #e3e3e3;padding:10px;}
ul.box{padding:0;}
ul.box li{list-style:none;border-bottom:1px solid #f3f3f3;padding:10px;text-align:center;}
.bigbox-title{line-height:51px;height:51px;background:url(/images/theme/v1/bg/bg_box_title_r.png) center right no-repeat;position:relative;margin:0 auto;overflow:auto;text-align:center;width:45%;margin-bottom:-25px;z-index:20;}
.bigbox-title span{display:block;margin-right:26px;padding:0 34px 0 60px;color:#fff;font-family:"museo-slab",helvetica,arial;font-size:17px;text-transform:uppercase;font-weight:100;background:url(/images/theme/v1/bg/bg_box_title_l.png) center left no-repeat;}
input[type=submit]{cursor:pointer;}
.form{padding:20px 0;}
.form label{font-size:13px;}
.form label strong{text-transform:capitalize;font-size:14px;color:#202221;display:block;padding:0 0 6px;line-height:20px;}
.form label strong a{font-size:.9em;font-weight:normal;text-decoration:underline;margin-left:20px;top:-2px;}
.form input[type=text],.form input[type=password] {background:#fff;border:none;padding:11px 17px 9px;-moz-border-radius:5px;-webkit-border-radius:5px;font-size:15px;height:19px;width:240px;}
.form input, .form textarea{font-family:arial;font-size:12px;color:#444;}
.form textarea{background:#fff;border:1px solid #ccc;padding:10px;font-size:16px;-moz-border-radius:4px;-webkit-border-radius:4px;width:590px;}
.form textarea:focus{}
.form input[type=text],.form input[type=password]{background:transparent url(/images/theme/v1/bg/bg_input_short.png) center center no-repeat;}
.form input[type=text]:focus,.form input[type=password]:focus{background-color:#fff;}
.form input.mf{width:420px;background:transparent url(/images/theme/v1/bg/bg_input_medium.png) center center no-repeat;}
.form input.readonly{background:none;}
.form input.readonly:focus{background:none;}
.form textarea{background:#fff url(/images/theme/v1/bg/bg_input_textarea.png) top left repeat-x;}
#formProfile .short-field{width:340px;float:left;}
.form .bt-action{font-size:14px;}
.form .bt-action .cancel{padding-left:25px;}
.form .bt-action .cancel a{padding-left:10px;color:#000;text-decoration:underline;}
.main .cform{width:410px;margin:20px auto;background-color:#fff;border:1px solid #d5d5d5;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.main .cform .cform-line{border-bottom:1px solid #d5d5d5;}
.main .cform .last{border-bottom:none;}
.main .cform label{overflow:hidden;padding-left:10px;float:left;width:130px;height:50px;border-right:1px solid #d5d5d5;color:#262827;line-height:50px;font-size:13px;font-weight:bold;}
.main .cform input[type="text"],.main .cform input[type="password"],.main .cform input.password{background-image:none;background:transparent;padding:0;margin:0;padding:15px 0 15px 10px;color:#788187;width:258px;}
.main .cform input[type="text"]:focus,.main .cform input[type="password"]:focus,.main .cform input.password:focus{background-image:none;background:transparent;}
.main .cloudbox .message{margin:10px 31px 0;}
.form input[type=text],.form input[type=password],.form input.mf,.main .cform input[type="text"],.main .cform input[type="password"],.main .cform input.password,.form textarea{padding:10px 14px 9px;background:none;background-color:#fff;border:1px solid #cfcfcf;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow:inset 0 2px 3px #E9E9E9;}
.pagination{margin:20px 0;}
.pagination *{display:inline;margin:1px;}
.pagination a{border:1px solid #ddd;padding:2px 4px;color:#999 !important;text-decoration:none;}
.pagination strong{border-color:#E68E33;color:#E68E33 !important;}
.slider .learn-more{text-align:right;display:block;width:268px;margin:10px auto 0;font-size:14px;color:#999;}
.slider .learn-more a{font-weight:400;color:#eee;text-decoration:underline;}
.slider .learn-more a:hover{color:#fff;}
.slider .incentive{position:absolute;bottom:85px;left:615px;}
.slider{background:url(/images/theme/v1/bg/bg_head_halo.jpg) center bottom no-repeat;position:relative;overflow:hidden;}
.slider .cloud1{background:url(../images/theme/v1/bg/cloud_1.png) center top no-repeat;width:156px;height:112px;display:block;position:absolute;top:-20px;left:250px;z-index:0;}
.slider .cloud2{background:url(../images/theme/v1/bg/cloud_2.png) center top no-repeat;width:233px;height:700px;display:block;position:absolute;top:-800px;left:850px;z-index:1;}
.slider .cloud3, .slider .cloud4{background:url(../images/theme/v1/bg/cloud_3.png) center top no-repeat;width:287px;height:600px;display:block;position:absolute;top:-700px;left:3000px;z-index:4;}
.slider .cloud4{left:20px;}
.slides{width:980px;overflow:visible;position:relative;margin:0 auto;height:360px;z-index:2;text-align:center;}
.slide{width:980px;padding:80px 0px 0px 0px;margin:0 auto;position:absolute;text-align:center;z-index:5;height:360px;display:none;}
.slide .title{font-size:47px;margin:10px 0 24px 0;font-weight:600;text-shadow:0px 2px 3px rgba(0,0,0,.8);font-family:"museo-slab",arial;}
.slide .sub-title{margin:11px 0 4px 0;text-shadow:0px 2px 3px rgba(0,0,0,.6);}
.slide .sub-title strong{font-weight:normal;color:#999994;font-size:17px;}
.nav{background:url(../images/theme/v1/bg/bg_slider_menu.png) center top repeat-x;text-align:center;z-index:2;position:relative;box-shadow:0 0 20px #111;}
.nav ul{width:980px;overflow:auto;margin:0 auto;border:1px solid #333;border-width:0 1px;border-left-color:#111;}
.nav li{float:left;border:1px solid #111;border-width:0 1px;border-left-color:#333;}
.nav li a{padding:0 23px 0 50px;color:#fff;display:block;font-size:12px;text-transform:uppercase;line-height:63px;text-shadow:0px 1px 2px #000;font-weight:200;}
.nav li:last-child{border-right:none;}
.nav li.active a{color:#E68E33;}
.nav li a:hover{text-decoration:none;text-shadow:0px 0px 2px #dfdfdf;}
.nav li.active a:hover{text-shadow:0px 0px 2px #E68E33;}
.nav a{background:url(../images/theme/v1/bg/bg_menu_slider.png) 18px 20px no-repeat;}
.nav .transac a{background-position:18px -45px;}
.nav .nltool a{background-position:18px -109px;}
.nav .api a{background-position:18px -173px;}
.nav .plug a{background-position:18px -237px;}
.how{overflow:auto;padding-left:0%;}
.how .step{float:left;width:300px;line-height:19px;margin-left:20px;}
.how .step p{line-height:19px;margin:10px 11px 10px 76px;}
.how .step strong{overflow:auto;display:block;font-size:15px;line-height:19px;padding:0 0 2px 0;color:#222;font-family:"museo-slab",arial;overflow:hidden;}
.how .step span{float:left;font-weight:400;font-size:41px;display:block;line-height:41px;padding:0px 6px 0 0;color:#E68E33;}
.how .step:first-child{}
.how .step1{margin-left:40px;background:url(../images/theme/v1/bg/bg_how_1.gif) 0 31px no-repeat;}
.how .step2{background:url(../images/theme/v1/bg/bg_how_2.gif) 0 31px no-repeat;}
.how .step3{background:url(../images/theme/v1/bg/bg_how_3.gif) 0 31px no-repeat;}
#features{margin:-2px -10px 65px;z-index:10;position:relative;padding:0;}
#features .feature-more strong{font-size:15px;color:#444;}
.feature-more{overflow:auto;padding:0;border-radius:4px;}
.feature-more ul{overflow:visible;float:left;width:230px;border-right:1px dotted #e3e3e3;height:260px;background:#fafafa;}
.feature-more li{line-height:19px;width:auto;margin:0;float:none;border-bottom:1px solid #eee;padding:0;}
.feature-more li a IMG{margin-right:4px;width:12px !important;margin-bottom:-1px;}
.feature-more li a{display:block;padding:12px 20px 12px 36px;line-height:25px;font-weight:500;text-decoration:none;color:#888 !important;background:#fbfbfb url(../images/theme/v1/icons/ico_feat.png) 15px 14px no-repeat;;font-size:13px;}
.feature-more li a.active,.feature-more li a:hover{color:#eaa81e !important;background-color:#fff;}
.feature-more li a.active{margin-right:-2px;}
.feature-more strong{display:block;font-size:15px;color:#000;margin:10px 0 5px 0;font-family:"museo-slab",arial;}
.feature-more a.shield{background-position:15px 17px;}
.feature-more a.clock{background-position:15px -27px;}
.feature-more a.tick{background-position:15px -71px;}
.feature-more a.tool{background-position:15px -114px;}
.feature-more a.wheel{background-position:15px -158px;display:none;}
.feature-content{padding:27px 0 0;float:right;width:700px;line-height:18px;height:220px;}
.feature-content .slide{display:none;width:540px;padding:18px 160px 0 0px;text-align:left;height:220px;}
.feature-content .slide strong{display:inline;font-size:20px;}
.feature-content .slide p{line-height:19px;width:490px;}
.feature-content .shield{background:url(/images/theme/v1/bg/bg_shield.png) top right no-repeat;}
.feature-content .clock{background:url(/images/theme/v1/bg/bg_clock.png) top right no-repeat;}
.feature-content .tick{background:url(/images/theme/v1/bg/bg_tick.png) top right no-repeat;}
.feature-content .tool{background:url(/images/theme/v1/bg/bg_tool.png) top right no-repeat;}
.why{margin-top:19px;}
.why li{width:226px;padding:2px;margin:0 20px 0 0;text-align:center;float:left;border:none;}
.why li IMG{margin-bottom:7px;width:216px;padding:2px;margin:2px;box-shadow:0px 0px 3px #bbb;border:1px solid #ddd;background:#fafafa;border-radius:3px;}
.why ul{margin:0 -60px 70px 0px;overflow:auto;padding:0;width:100%;height:auto;border:none;background:none;}
.customers{overflow:auto;margin:20px 0;}
.logos{float:left;}
.testimonials{float:left;position:relative;margin-right:40px;width:390px;margin-left:80px;}
#slide1{display:block;}
.clients{position:relative;z-index:0;width:394px;height:200px;overflow:hidden;}
.client{position:absolute;z-index:1;padding:0 2px;display:none;width:390px;height:200px;}
.testimonials .quote{text-align:center;padding:18px 22px;;font-size:13px;margin:0;font-family:"museo-slab",arial;font-weight:100;}
.author{background:url(/images/theme/v1/bg/bg_quote.png) 15px 0px no-repeat;margin:-1px 0 0;padding:15px 0 10px;}
.photo{display:block;float:left;width:48px;height:48px;overflow:hidden;vertical-align:center;line-height:48px;border-radius:3px;margin:0 10px 0 50px;box-shadow:0px 0px 2px #fff;}
.photo IMG{width:48px;margin-top:-4px;}
.name{font-size:14px;font-weight:400;color:#000;margin:0px;font-family:"museo-slab",arial;display:block;}
.client em{font-style:normal;font-size:11px;display:block;}
.client .rating{float:left;margin-top:1px;}
.actions{margin-top:53px;}
