@charset "UTF-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
p{margin:10px 0;}
br.clear{display:block;clear:both;width:1px;height:0.001%;font-size:0px;line-height:0px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0;}
p{line-height:1.3em;}
a{color:#E68E33;text-decoration:none;}
a:hover{text-decoration:underline;}
h1,h2,h3,h4,h5,h6{font-family:"museo-slab",Helvetica;}
h3{font-size:2.3em;text-transform:uppercase;font-weight:normal;color:#444;}
h3 strong{font-weight:bold;}
h3 a.action{font-size:.7em;text-transform:none;}
h4{font-size:1.1em;}
h4.part{background:url("/images/theme/v1/icons/ico_below.png") no-repeat scroll 0 29px transparent;color:#222222;font-weight:bold;height:16px;line-height:16px;margin-top:0;padding-left:20px;padding-top:30px;}
h3.hr{margin-bottom:20px;line-height:20px;background:url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/hr.png) bottom left no-repeat;padding-bottom:10px;}


html,body{}
:focus{outline:none;}
body{font-family:"SimSun", Helvetica, Arial;font-size:13px;background:#eee url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_body.jpg) 0 0 repeat;color:#6d7980;font-weight:300;line-height:19px;}
#wrapper{position:relative;padding-top:79px;}
#wrapper.sub{padding-top:113px;}
.main{min-height:300px;position:relative;z-index:1;}
.col980{width:980px;margin:0 auto;position:relative;}
.col700{width:700px;float:left;margin-right:10px;}
.col320{width:320px;float:left;margin-right:10px;}
.col230{width:230px;float:left;margin-right:20px;}
.left {float:left;}
.right {float:right;}

#top-wrapper{background:#fdfdfd url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_top.png) bottom left repeat-x;position:absolute;top:0;height:32px;width:100%;overflow:visible;z-index:1000;}
#header-wrapper{background:#fdfdfd url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_header.png)  top left repeat-x;position:absolute;top:0;height:79px;width:100%;overflow:visible;z-index:2;}
#header .logo{position:relative;padding:11px 20px 0px 0;margin:0 0 0 -10px;width:150px;}
#header .logo IMG{height:54px;}
#header .logo span{color:#cdcdcd;left:78px;position:absolute;bottom:1px;font-size:10px;word-spacing:9px;font-style:italic;}
#header .logo a:hover{text-decoration:none;color:#222;}
#header .logo a:hover span{color:#bebebe;}
.sub #header-wrapper{top:34px;}
.head{border-top:1px solid #fff;background:url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_head.gif) bottom left repeat;color:#fff;text-align:left;box-shadow:0 0 100px #bebebe;}
#menu{margin:12px 0 0 10px;width:520px;position:relative;z-index:12000;}
#menu li{height:60px;line-height:60px;float:left;position:relative;overflow:visible;cursor:pointer;}
#menu a{color:#aeaeae;font-family:"Microsoft YaHei",helvetica,arial;font-size:15px;height:60px;display:block;line-height:60px;padding:0 12px;text-shadow:1px 1px 1px #fff;position:relative;}
#menu li li,#menu li li a{height:auto;line-height:30px;}
#menu ul ul{top:43px;z-index:40;position:absolute;border-radius:2px;overflow:hidden;background:url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_submenu.png) -2px 0 no-repeat;padding-top:13px;width:157px;display:none;}
#menu ul ul li{line-height:24px;float:left;color:#666;text-transform:none;float:none;display:block;background:#e0e0e0;border-top:1px solid #d7d7d7;}
#menu ul ul li a{color:#999;line-height:24px;text-shadow:none;font-size:12px;text-transform:none;font-weight:normal;display:block;}
#menu ul li:hover ul{display:block;}
#menu ul li:hover a{color:#000;}
#menu ul li:hover li a{color:#999;}
#menu ul li:hover li a:hover{background:#eaeaea;color:#444;}
#menu ul ul li:last-child{padding-bottom:3px;}
#menu ul ul li:first-child{border:none;}
#menu .sub{background:url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_menu_sub.png) center right no-repeat;padding-right:17px;z-index:12000;position:relative;}
#home .home a, #tour .tour a, #pricing .pricing a, #rctemplate .rctemplate a{color:#000;}
#menu a:hover{color:#000;text-decoration:none;}

.activation-pending{background:#de2615;padding:4px 10px;color:#fff;position:absolute;top:10px;left:40%;-moz-border-radius:3px;-border-radius:3px;-webkit-border-radius:3px;}
.activation-pending a{color:#fff;text-decoration:underline;}
hr{display:block;clear:both;width:100%;height:1px;font-size:0px;line-height:0px;background:url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/hr.png) 0 0 no-repeat;border:none;}
.hide{visibility:hidden;}
.hidden{display:none;}
.title{font-size:28px;font-weight:600;font-family:"museo-slab",helvetica,arial;}
.sub-title{color:#999994;font-size:18px;margin:0 0 20px 0;text-shadow:0px 2px 3px rgba(0,0,0,.6);}
.part-title{font-size:27px;font-weight:150;color:#000;font-family:"SimHei",helvetica,arial;text-align:center;line-height:36px;}
.part-title span{color:#E68E33;font-weight:400;}
.part-sub-title{font-size:14px;text-align:center;margin:2px 0 7px;}
.separator{padding-bottom:21px;background:url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_main_title.png) center bottom no-repeat;}


div.hr, div.hr100{background:url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_hr.png) center center no-repeat;height:1px;margin:66px 0;}
div.hr100{background-repeat:repeat-x;}
.center{text-align:center;}
.main-center{text-align:center;font-size:35px;}
.top40{margin-top:10px;}
#register{margin-top:35px;font-size:14px;float:right;width:230px;}
div#register{position:relative;z-index:12000}
#register a{color:#666;font-size:15px;letter-spacing:1px;}
#register a.signup{color:#E68E33;border-left:1px solid #e3e3e3;padding-left:7px;margin-left:7px;font-weight:500;}
#register a:hover{text-decoration:none;}
#register.logged{padding-bottom:10px;text-align:right;border:none;margin-top:11px;width:280px;}
#register.logged span{font-size:11px;font-weight:bold;border-top:none;margin-top:4px;padding-top:4px;}
#register.logged a{text-transform:none;font-size:11px;color:#999;font-weight:bold;}
#register.logged span a{color:#6D7980;}
#register.logged strong a{color:#E68E33;margin-right:4px;font-weight:600;}
#register.logged br{line-height:17px;}
#register.logged #quota{margin:-6px 0 0 10px;padding:0;width:10px;height:49px;float:right;background:transparent url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_quota.png) 0 0 no-repeat;}
#register.logged #quota span{display:block;padding:0;width:10px;background:transparent url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_quota_bar.png) bottom left no-repeat;}
#register.logged #quota.medium span{background-position:-10px bottom;}
#register.logged #quota.low span{background-position:-20px bottom;}
.head .cta{box-shadow:0 2px 2px #222;line-height:17px;}
.head .cta:hover{box-shadow:0 0 1px #000;}
.cta{background:#f4a531 url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_bt_orange.jpg) top left repeat;text-align:center;color:#fff;overflow:auto;margin-top:0px;display:block;width:210px;border-radius:4px;border:1px solid #bc7618;}
.cta span{display:block;padding:12px 15px;}
.cta strong{font-size:21px;letter-spacing:4px;line-height:32px; text-shadow:0px 1px 1px rgba(0,0,0,.4);font-weight:600;font-family:"Microsoft YaHei",helvetica,arial;color:#fff;}
.cta b{font-size:14px;text-shadow:0px 1px 1px rgba(0,0,0,.4);font-weight:600;font-family:"Microsoft YaHei",helvetica,arial;color:#fff;}
.cta em{font-style:normal;font-size:12px;color:#7b5019;text-shadow:0px 1px 2px rgba(255,255,255,.3);}
.cta:hover{text-decoration:none;background:#E68E33;box-shadow:0 0 3px #fff;}
.cta-large{background:url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_hr.png) center center no-repeat;margin-bottom:20px;}


#footer-wrapper{position:relative;background:#171616 url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_footer_wrap.png) bottom left repeat-x;text-align:center;overflow:auto;width:100%;color:#999;margin-top:30px;z-index:0;}
.min #footer-wrapper{position:fixed;bottom:0;}
#footer{background:url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_footer_flower.png) 100px 45px no-repeat;padding:30px 0 0 0px;text-align:left;line-height:20px;}
#footer h6{color:#eee;font-weight:400;font-size:16px;margin-bottom:7px;font-family:"museo-slab";}
#footer h6 strong{font-weight:bold;color:#E68E33;}
#footer li{line-height:17px;font-size:11px;}
#footer li a{text-decoration:none;color:#aaa;}
#footer li a:hover{color:#fff;}
#footer .col230{margin-bottom:36px;width:auto;margin-right:80px;}
#footer .cloud{width:200px;}
#footer .social{padding-top:24px;line-height:25px;overflow:auto;}
#footer .social a{float:right;margin-left:6px;text-indent:10000px;overflow:hidden;background:url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_social.png) top left no-repeat;width:34px;height:34px;text-decoration:none;display:block;line-height:34px;}
#footer a.lk{background-position:-84px 0;}
#footer a.tw{background-position:-42px 0;}
#footer .social a:hover{background-position-y:-34px;}
#footer .legals{color:#666;margin:0;line-height:46px;font-size:11px;font-family:Arial;}
#footer .legals strong{color:#777;}
#footer .tos{float:right;margin-right:-2px;}
#footer .tos a{color:#777;font-weight:600;padding:0 2px;}

.pad20{padding:30px 20px;}
.center{text-align:center;}
.columns{float:left;position:relative;}
.left-column, .right-column{width:246px;}
.midd-column{float:right;width:720px;}
.slider{background:url(http://localhost:9090/ResumeChart/_images/theme/v1/bg/bg_head_halo.jpg) center bottom no-repeat;position:relative;overflow:hidden;}
.slides{width:980px;overflow:visible;position:relative;margin:0 auto;height:360px;z-index:2;text-align:left;}
.slide{width:980px;padding:0px 0px 0px 0px;margin:0 auto;position:absolute;z-index:5;height:360px;display:none;}
.slide .title{font-size:47px;margin:10px 0 24px 0;font-weight:600;text-shadow:0px 2px 3px rgba(0,0,0,.8);font-family:"museo-slab",arial;}
.slide .sub-title{margin:11px 0 4px 0;text-shadow:0px 2px 3px rgba(0,0,0,.6);}
.slide .sub-title strong{font-weight:normal;color:#999994;font-size:17px;}
.slide .slide-pic{position:absolute;top:0px;left:0px;width:690px;}
.slide .actions{position:absolute;top:250px;right:0px;}

.how{overflow:auto;padding-left:0%;}
.how .step{float:left;width:300px;line-height:19px;margin-left:20px;}
.how .step p{line-height:19px;margin:10px 11px 10px 76px;}
.how .step strong{overflow:auto;display:block;font-size:16px;line-height:19px;padding:0 0 2px 0;color:#222;font-family:"SimHei",arial;overflow:hidden;}
.how .step span{float:left;font-weight:400;font-size:41px;display:block;line-height:41px;padding:0px 6px 0 0;color:#E68E33;}
.how .step:first-child{}
.how .step1{margin-left:40px;background:url(../images/theme/v1/bg/bg_how_1.gif) 0 31px no-repeat;}
.how .step2{background:url(../images/theme/v1/bg/bg_how_2.gif) 0 31px no-repeat;}
.how .step3{background:url(../images/theme/v1/bg/bg_how_3.gif) 0 31px no-repeat;}

#features{margin:-2px -10px 65px;z-index:10;position:relative;padding:0;}
#features .feature-more strong{font-size:15px;color:#444;}
.feature-more{overflow:auto;padding:0;border-radius:4px;}
.feature-more ul{overflow:visible;float:left;width:230px;border-right:1px dotted #e3e3e3;height:260px;background:#fafafa;}
.feature-more li{line-height:19px;width:auto;margin:0;float:none;border-bottom:1px solid #eee;padding:0;}
.feature-more li a IMG{margin-right:4px;width:12px !important;margin-bottom:-1px;}
.feature-more li a{display:block;padding:12px 20px 12px 36px;line-height:25px;font-weight:500;text-decoration:none;color:#888 !important;background:#fbfbfb url(../images/theme/v1/icons/ico_feat.png) 15px 14px no-repeat;;font-size:13px;}
.feature-more li a.active,.feature-more li a:hover{color:#eaa81e !important;background-color:#fff;}
.feature-more li a.active{margin-right:-2px;}
.feature-more strong{display:block;font-size:15px;color:#000;margin:10px 0 5px 0;font-family:"museo-slab",arial;}
.feature-more a.shield{background-position:15px 17px;}
.feature-more a.clock{background-position:15px -27px;}
.feature-more a.tick{background-position:15px -71px;}
.feature-more a.tool{background-position:15px -114px;}
.feature-more a.wheel{background-position:15px -158px;display:none;}
.why{margin-top:19px;}
.why li{width:226px;padding:2px;margin:0 20px 0 0;text-align:center;float:left;border:none;}
.why li IMG{margin-bottom:7px;width:216px;padding:2px;margin:2px;box-shadow:0px 0px 3px #bbb;border:1px solid #ddd;background:#fafafa;border-radius:3px;}
.why ul{margin:0 -60px 70px 0px;overflow:auto;padding:0;width:100%;height:auto;border:none;background:none;}